.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e252c;
}

.quantity-center {
  text-align: center;
  background-color: #3498db;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: -10px;
  position: relative;
  top: -40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #2e3235;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.login-button2 {
  padding: 8px 16px;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-button2:hover {
  background-color: #2980b9;
}

.current-inventory {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

.inventory-list {
  background-color: #2e3235;
  padding: 20px;
  border-radius: 8px;
}

.item {
  background-color: #283747;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  position: relative;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  }

.item-buttons2 button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
  }

.quantity-center {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.description-title {
  font-weight: bold;
  margin-top: 10px;
}
